/* Стили для тела страницы */
body {
    background-color: #61708b;
    /* Цвет фона страницы */
    font-family: 'Open Sans', sans-serif;
    /* Шрифт текста */
    margin: 0;
    /* Убираем отступы по умолчанию */
    overflow: hidden;
    /* Убираем прокрутку, чтобы картинки занимали весь экран */
}

/* Стили для заголовка */
h1 {
    font-size: 48px;
    /* Размер шрифта заголовка */
    width: 100%;
    /* Ширина заголовка */
    text-align: center;
    /* Выравнивание текста по центру */
    color: #fff;
    /* Цвет текста */
}

/* Стили для ссылки */
a {
    display: block;
    /* Блочный элемент */
    width: 800px;
    /* Ширина ссылки */
    height: 40px;
    /* Высота ссылки */
    line-height: 40px;
    /* Высота строки */
    font-size: 18px;
    /* Размер шрифта */
    font-family: sans-serif;
    /* Шрифт текста */
    text-decoration: none;
    /* Убираем подчеркивание ссылки */
    color: #333;
    /* Цвет текста ссылки */
    border: 2px solid #333;
    /* Обводка ссылки */
    letter-spacing: 2px;
    /* Расстояние между буквами */
    text-align: center;
    /* Выравнивание текста по центру */
    position: relative;
    /* Позиционирование */
    transition: all .35s;
    /* Плавное изменение всех свойств за 0.35 секунды */
    margin: auto;
    /* Центрирование ссылки */
}

a span {
    position: relative;
    /* Позиционирование */
    z-index: 2;
    /* Индекс слоя */
}

a:after {
    position: absolute;
    /* Абсолютное позиционирование */
    content: "";
    /* Пустое содержимое */
    top: 0;
    /* Отступ сверху */
    left: 0;
    /* Отступ слева */
    width: 0;
    /* Изменено на 0 */
    height: 100%;
    /* Высота элемента */
    background: #ff003b;
    /* Цвет фона */
    transition: width .35s;
    /* Плавное изменение ширины за 0.35 секунды */
    z-index: -1;
    /* Установка индекса слоя для псевдоэлемента */
}

a:hover:after {
    width: 100%;
    /* Изменено на 100% */
}

a:hover {
    color: #fff;
    /* Цвет текста при наведении */
}

a:hover:after {
    transform: scaleX(1);
    /* Увеличение масштаба псевдоэлемента при наведении */
}

/* Стили для контейнера слайд-шоу */
.slideshow-container {
    width: 100%;
    /* Ширина контейнера */
    height: calc(100vh - 60px);
    /* Высота контейнера - высота верхней кнопки */
    position: relative;
    /* Позиционирование */
}

/* Стили для каждого слайда */
.mySlides {
    display: none;
    /* Скрываем слайды по умолчанию */
    width: 100%;
    /* Ширина слайда */
    height: 100%;
    /* Высота слайда */
    position: relative;
    /* Позиционирование */
    animation: fadeOut 1.5s ease-out;
    /* Применяем анимацию исчезновения */
}

/* Стили для кнопок "назад" и "вперёд" */
.prev,
.next {
    cursor: pointer;
    /* Курсор указывающий на возможность взаимодействия */
    position: absolute;
    /* Абсолютное позиционирование */
    top: 50%;
    /* Выравнивание по вертикали на 50% */
    width: auto;
    /* Автоматическая ширина */
    margin-top: -22px;
    /* Отступ сверху */
    padding: 16px;
    /* Внутренний отступ */
    color: white;
    /* Цвет текста */
    font-weight: bold;
    /* Жирный шрифт */
    font-size: 18px;
    /* Размер шрифта */
    transition: 0.6s ease;
    /* Плавное изменение свойств за 0.6 секунд */
    border-radius: 0 3px 3px 0;
    /* Закругление углов кнопок */
    background-color: rgba(0, 0, 0, 0.5);
    /* Цвет фона с прозрачностью */
}

.next {
    right: 0;
    /* Выравнивание кнопки вправо */
    border-radius: 3px 0 0 3px;
    /* Закругление углов кнопки */
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Цвет фона кнопок при наведении с 
    прозрачностью */
}

/* Стили для текста на слайде */
.text {
    position: absolute;
    /* Абсолютное позиционирование */
    bottom: 100px;
    /* Отступ от нижнего края */
    left: 50%;
    /* Выравнивание по центру */
    transform: translateX(-50%);
    /* Смещение по горизонтали */
    color: white;
    /* Цвет текста */
    font-size: 24px;
    /* Размер шрифта */
    font-weight: bold;
    /* Жирный шрифт */
    text-align: center;
    /* Выравнивание текста по центру */
    width: 80%;
    /* Ширина текста */
    background-color: rgba(0, 0, 0, 0.9);
    /* Цвет фона текста с прозрачностью */
    padding: 10px;
    /* Внутренний отступ */
    border-radius: 10px;
    /* Закругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Тень */
}

/* Создание анимации */
.fade {
    animation-name: fade;
    /* Название анимации */
    animation-duration: 1.5s;
    /* Продолжительность анимации */
}

@keyframes fade {
    from {
        opacity: 0.4;
        /* Начальная прозрачность */
    }

    to {
        opacity: 1;
        /* Конечная прозрачность */
    }
}